parameters:
    level: 7
    phpVersion: 80100
    paths:
        - Kata/
        - Tests/
    scanFiles:
        - _codewars_stubs.php
    tmpDir: .phpstan-cache
    ignoreErrors:
        - identifier: missingType.iterableValue
