<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="CodeWars Kata Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="xdebug.var_display_max_depth" value="5"/>
        <ini name="xdebug.var_display_max_children" value="256"/>
        <ini name="xdebug.var_display_max_data" value="1024"/>
        <ini name="xdebug.cli_color" value="1"/>
    </php>

    <logging>
        <log type="teamcity" target="php://stdout"/>
    </logging>
</phpunit>